/* yeni ekle butonu */
.btn-yeniekle {
    background:linear-gradient(to right, #11998e 0%, #38ef7d 100%); 
    border-color:#38ef7d; 
    color:beige;
}

/* kaydet butonu */
.btn-kaydet {
    background:linear-gradient(to right, #3a7bd5 0%, #00d2ff 100%); 
    border-color:#00d2ff; 
    color:beige;
}
.btn-geri {
    background:linear-gradient(to right, #fc4a1a 0%, #f7b733 100%); 
    border-color: #f7b733; 
    color:beige;
}

.btn-golge {
    -webkit-box-shadow: 0 0 3px 2px #858f91;
	-moz-box-shadow: 0 0 3px 2px #858f91;
	box-shadow: 0 0 3px 2px #858f91;
}

.btn-kirmizi {
    background:linear-gradient(to right, #D31027 0%, #EA384D 100%); 
    border-color:#38ef7d; 
    color:beige;
}

/*gradient arkaplanlar*/
.bg-mor {
    background:linear-gradient(to right, #8914fe 0%, #8063f5 100%); 
    color:beige;
}

.bg-yesil {
    background:linear-gradient(to right, #11998e 0%, #38ef7d 100%); 
    border-color:#38ef7d; 
    color:beige;
}

.bg-kirmizi {
    background:linear-gradient(to right, #D31027 0%, #EA384D 100%); 
    border-color:#38ef7d; 
    color:beige;
}

.bg-mavi {
    background:linear-gradient(to right, #3a7bd5 0%, #00d2ff 100%); 
    border-color:#00d2ff; 
    color:beige;
}
.bg-koyu-gri {
    background:linear-gradient(to right, #232526 0%, #606366 100%); 
    border-color: #606366; 
    color:beige;
}
.bg-acik-gri {
    background:linear-gradient(to right, #8e9eab 0%, #eef2f3 100%); 
    border-color: #eef2f3; 
    color:beige;
}
.bg-turuncu {
    background:linear-gradient(to right, #fc4a1a 0%, #f7b733 100%); 
    border-color: #f7b733; 
    color:beige;
}
/*alt kısım ana site footer css*/

.bej-yazi {
    color:beige !important;
}