@model SocialMediaModel
<!-- yeni sosyal medya hesabı ekleyin -->
<div class="modal fade" id="yenismekle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-mor">
                <h5 class="modal-title">Yeni Hesap Ekleyin</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <form action="/Admin/SocialMedia/Create" method="POST">
                <div class="modal-body">
                    <div class="form-row mb-3 mx-2">
                        <label asp-for="Name" class="col-form-label">Hesap Adı</label>
                        <input class="form-control" asp-for="Name" placeholder="Twitter, İnstagram, vs..">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-row mb-3 mx-2">
                        <label asp-for="Url" class="col-form-label">Hesap Bağlantısı</label>
                        <input class="form-control" asp-for="Url" placeholder="http://siteadi.com/kullaniciadi">
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                    <div class="form-row mb-3 mx-2">
                        <label asp-for="Icon" class="col-form-label">Hesap İkonu&nbsp;&nbsp;(<a class="mb-3" href="https://themify.me/themify-icons" target="_blank">İkonlara bakmak için tıklayınız</a>)</label>
                        <input class="form-control" asp-for="Icon" placeholder="ti-ikon-adi">
                        <span asp-validation-for="Icon" class="text-danger"></span>
                    </div>
                    <div class="form-row mb-3 mx-2">
                        <label asp-for="DisplayOrder" class="col-form-label">Görüntülenme Sırası</label>
                        <input class="form-control" asp-for="DisplayOrder" min="0" max="99" step="1" placeholder="Varsayılan değer 0">
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>

                    <div class="form-row mb-1 ml-3">

                    </div>
                </div>
                <div class="modal-footer bg-acik-gri">
                    <button type="button" class="btn btn-geri btn-rounded" data-dismiss="modal"><i class="ti-arrow-left"></i>&nbsp; Geri Dön</button>
                    <button type="submit" class="btn btn-kaydet btn-rounded"><i class="ti-check"></i>&nbsp; Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
