<!doctype html>
<html class="no-js" lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dayının Çiftliği | Admin Paneli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="apple-touch-icon" href="">

    <link rel="stylesheet" href="~/admin/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/admin/assets/css/metisMenu.css">
    <link rel="stylesheet" href="~/admin/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css"
          media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="~/admin/assets/css/typography.css">
    <link rel="stylesheet" href="~/admin/assets/css/default-css.css">
    <link rel="stylesheet" href="~/admin/assets/css/styles.css">
    <link rel="stylesheet" href="~/admin/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/admin/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- sonradan eklenenler css -->
    <link rel="stylesheet" href="~/admin/assets/css/zlast.css">
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-6 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        @*<div class="search-box pull-left">
                            <form action="#">
                                <input type="text" name="search" placeholder="Ara..." required>
                                <i class="ti-search"></i>
                            </form>
                        </div>*@
                    </div>
                    <!-- profile info & task notification -->
                    <div class="col-md-6 col-sm-6 clearfix">
                        <!--<ul class="notification-area pull-right">
                            <li id="full-view"><i class="ti-fullscreen"></i></li>
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                            <li class="dropdown">
                                <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                    <span>1</span>
                                </i>
                                <div class="dropdown-menu bell-notify-box notify-box">
                                    <span class="notify-title">
                                        1 yeni bildiriminiz var <a href="#">
                                            tümünü
                                            görüntüle
                                        </a>
                                    </span>
                                    <div class="nofity-list">
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                            <div class="notify-text">
                                                <p>You have Changed Your Password</p>
                                                <span>Just Now</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown">
                                <i class="fa fa-envelope-o dropdown-toggle" data-toggle="dropdown"><span>1</span></i>
                                <div class="dropdown-menu notify-box nt-enveloper-box">
                                    <span class="notify-title">
                                        1 yeni mesajınız var <a href="#">
                                            tümünü
                                            görüntüle
                                        </a>
                                    </span>
                                    <div class="nofity-list">
                                        <a href="#" class="notify-item">
                                            <div class="notify-thumb">
                                                <img src="~/admin/assets/images/author/author-img1.jpg" alt="image">
                                            </div>
                                            <div class="notify-text">
                                                <p>Aglae Mayer</p>
                                                <span class="msg">Hey I am waiting for you...</span>
                                                <span>3:15 PM</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown">
                                <img class="avatar user-thumb dropdown-toggle" data-toggle="dropdown" style="border-radius:50%" src="~/admin/users/pp/avatar.jpg" width="32" alt="avatar">-->
                                @*<i class="ti-bell dropdown-toggle" data-toggle="dropdown"></i>*@
                                <!--<div class="dropdown-menu bg-dark">
                                    <a class="dropdown-item dropdown-item-dark text-light" href="/Admin/User/Index">Profili Göster</a>
                                    <a class="dropdown-item dropdown-item-dark text-light" href="/Admin/User/Edit">Profili Düzenle</a>
                                    <a class="dropdown-item dropdown-item-dark text-light" href="/Admin/Account/Logout">Çıkış Yap</a>
                                </div>
                            </li>
                        </ul>-->
                    </div>
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            @*<div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6 p-3">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Admin Paneli</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="#">Home</a></li>
                                <li><span>Index</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>*@
            <!-- page title area end -->
            @*/*
        Sayfa id'leri
        1 index          |  2 raporlar      |  3 genel bilgiler  |  4 meta            |  5 üst kısım
        6 giris          |  7 ürünler       |  8 galeri          |  9 blog            |  10 iletişim
        11 alt kısım     |  12 sayfa kapak  |  13 sağ sütun
        */*@

        <div class="sidebar-menu">
            <div class="sidebar-header bg-mor">
                <div class="logo">
                    <a href="index.html">
                        <img src="~/img/logos/logo.png" />
                    </a>
                </div>
            </div>
            @await Html.PartialAsync("_SidebarMenu")
        </div>
            @RenderBody()
            <footer>
                <div class="footer-area">
                    <p>
                        © Copyright 2018. Tüm hakları saklıdır. &nbsp;&nbsp;
                        <a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="focus"
                           title="Emeği Geçenler"
                           data-content="Tema Colorlib tarafından oluşturuldu, &nbsp; sk. tarafından düzenlendi ve geliştirildi.">
                            <i class="ti-info-alt"></i>
                        </a>
                    </p>
                </div>
            </footer>
            <!-- jquery latest version -->
            <script src="~/admin/assets/js/vendor/jquery-2.2.4.min.js"></script>
            <!-- bootstrap 4 js -->
            <script src="~/admin/assets/js/popper.min.js"></script>
            <script src="~/admin/assets/js/bootstrap.min.js"></script>
            <script src="~/admin/assets/js/owl.carousel.min.js"></script>
            <script src="~/admin/assets/js/metisMenu.min.js"></script>
            <script src="~/admin/assets/js/jquery.slimscroll.min.js"></script>
            <script src="~/admin/assets/js/jquery.slicknav.min.js"></script>

            <!-- start chart js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
            <!-- start highcharts js -->
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <!-- start zingchart js -->
            <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
            <script>
                zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
                ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
            </script>
            <!-- all line chart activation -->
            <script src="~/admin/assets/js/line-chart.js"></script>
            <!-- all pie chart -->
            <script src="~/admin/assets/js/pie-chart.js"></script>
            <!-- others plugins -->
            <script src="~/admin/assets/js/plugins.js"></script>
            <script src="~/admin/assets/js/scripts.js"></script>
            <!-- ckeditor5 -->
            <script src="~/admin/assets/js/ckeditor.js"></script>
</body>

</html>