@{
    Layout = "_AccountLayout";
}
<!-- login area start -->
<div class="login-area login-bg">
    <div class="container">
        @if (TempData["message"] != null)
        {
            <partial name="_ResultMessage" model="@(TempData.Get<AlertMessage>("message"))" />
        }
        <div class="login-box ptb--30">
            <form asp-area="Admin" asp-controller="Account" asp-action="ForgotPassword" method="post">
                <div class="login-form-head">
                    <h4>Parolamı Unuttum</h4>
                    <p>Parolanızı sıfırlamak için kayıtlı eposta hesabınızı yazınız.</p>
                </div>
                <div class="login-form-body">
                    <div class="form-gp">
                        <label for="Email">Eposta Adresi</label>
                        <input type="email" name="Email">
                        <i class="ti-email"></i>
                    </div>
                    <div class="submit-btn-area">
                        <button id="form_submit" type="submit">Gönder <i class="ti-arrow-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- login area end -->