@model LoginModel
@{
    Layout = "_AccountLayout";
}
<!-- login area start -->
<div class="login-area login-bg">
    <div class="container">
        @if (TempData["message"] != null)
        {
            @* var message = JsonConvert.DeserializeObject<AlertMessage>(@TempData["message"] as String); *@
            <partial name="_ResultMessage" model="@(TempData.Get<AlertMessageAdmin>("message"))" />
        }
        <div class="login-box ptb--30">
            <form asp-area="Admin" asp-controller="Account" asp-action="Login" method="post">
                <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                <div class="login-form-head">
                    <h4>GİRİŞ YAP</h4>
                    <p>Hoş geldiniz, devam edebilmeniz için giriş yapmalısınız.</p>
                </div>
                <div class="login-form-body">
                    <div class="form-gp">
                        <label asp-for="Email">Eposta Adresi</label>
                        <input asp-for="Email">
                        <i class="ti-email"></i>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-gp">
                        <label asp-for="Password">Parola</label>
                        <input asp-for="Password">
                        <i class="ti-lock"></i>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="submit-btn-area">
                        <button id="form_submit" type="submit">Giriş Yap <i class="ti-arrow-right"></i></button>
                        <a class="btn btn-link" href="/ForgotPassword">Parolamı Unuttum</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- login area end -->