@model ResetPasswordModel
@{
    Layout = "_AccountLayout";
}
<!-- login area start -->
<div class="login-area login-bg">
    <div class="container">
        @if (TempData["message"] != null)
        {
            <partial name="_ResultMessage" model="@(TempData.Get<AlertMessageAdmin>("message"))" />
        }
        <div class="login-box ptb--0">
            <form asp-area="Admin" asp-controller="Account" asp-action="ResetPassword" method="post">
                <div class="login-form-head">
                    <h4>Parola Sıfırla</h4>
                    <p>Lütfen yeni parolanızı yazınız.</p>
                </div>
                <div class="login-form-body">
                    <input type="hidden" asp-for="Token">
                    <div class="form-gp">
                        <label asp-for="Email">Eposta Adresi</label>
                        <input asp-for="Email">
                        <i class="ti-email"></i>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-gp">
                        <label asp-for="Password">Parola</label>
                        <input asp-for="Password">
                        <i class="ti-lock"></i>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-gp">
                        <label asp-for="RePassword">Parola Onayı</label>
                        <input asp-for="RePassword">
                        <i class="ti-lock"></i>
                        <span asp-validation-for="RePassword" class="text-danger"></span>
                    </div>
                    <div class="submit-btn-area">
                        <button id="form_submit" type="submit">Kaydet <i class="ti-arrow-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- login area end -->
