@model ProductModel

<!-- basic modal start -->
<div class="modal fade" id="yeniurunekle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-mor">
                <h5 class="modal-title">Yeni Ürün Ekleyin</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <form action="/Admin/Product/Create" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-row mb-3 mx-2">
                        <label asp-for="Name" class="col-form-label">Ürün Adı</label>
                        <input class="form-control" asp-for="Name" placeholder="Süt, Yumurta, Domates..">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-row mb-3 mx-2">
                        <label asp-for="DisplayOrder" class="col-form-label">Ürün Sırası</label>
                        <input class="form-control" asp-for="DisplayOrder" placeholder="Boş bırakın veya 1, 2, 3.. yazın">
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>
                    <div class="form-row mb-3 mx-2">
                        <label for="example-text-input" class="col-form-label">Ürün Görseli</label>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-mor">Yeni Yükle</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" name="fileImage" class="custom-file-input">
                                <label class="custom-file-label" for="inputGroupFile01">Ürün için bir görsel seçiniz..</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-3 mx-2">
                        <label asp-for="ImageAltText" class="col-form-label">Görsel -alt- Metni</label>
                        <input class="form-control" asp-for="ImageAltText" placeholder="Dayının Çiftliği Ürünü..">
                        <span asp-validation-for="ImageAltText" class="text-danger"></span>
                    </div>
                    <div class="form-row mb-1 ml-3">

                    </div>
                </div>
                <div class="modal-footer bg-acik-gri">
                    <button type="button" class="btn btn-geri btn-rounded" data-dismiss="modal"><i class="ti-arrow-left"></i>&nbsp; Geri Dön</button>
                    <button type="submit" name="urunekle" class="btn btn-kaydet btn-rounded"><i class="ti-check"></i>&nbsp; Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- basic modal end -->