@model User

@if (TempData["message"] != null)
{
    <partial name="_ResultMessage" model="@(TempData.Get<AlertMessageAdmin>("message"))" />
}

<div class="main-content-inner">

    <div class="col-12 mt-3">
        <div class="card shadow">
            <div class="card-header bg-mavi text-center">
                <img class="shadow rounded-circle" style="box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);" src="~/admin/users/pp/@Model.ProfilePhoto" width="75" alt="@Model.UserName Profile Photo" />
                <br />
                <p class="text-light">
                    <b>@Model.FirstName @Model.LastName</b>
                    <br />
                    &#64;@Model.UserName
                </p>
            </div>
            <div class="card-body">
                <h4 class="header-title">Profil Ayrıntıları</h4>
                <p class="text-muted font-14 mb-4">son hareketler vs eklenebilir..</p>
                <hr>
            </div>
        </div>
    </div>
 </div>